<mat-card class="product-card">
    <mat-card-header>
        <mat-card-title>{{ product.name }}</mat-card-title>
        <mat-card-subtitle>{{ product.make }}</mat-card-subtitle>
      </mat-card-header>
      <div class="img-container">
        <img mat-card-image [src]="product.image_url" alt="{{ product.name }} image">
      </div>
      <mat-card-content>
        <p>{{ product.short }}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button color="primary">Learn more</button>
      </mat-card-actions>
</mat-card>